body{
    background-color: #fdecda;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos Navbar */
.container .navbar{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.navbar .collapse a{
    display: inline-block;
    padding: 20px;
    line-height: normal;
    text-decoration: none;
    color: #f6e4d3;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    margin-right: 5px;
}
.navbarSupportedContent{
    float: right;
}
.navbar .collapse a:hover{
    border-bottom: 2px solid #b59174;
    padding-bottom: 5px;
}

.logo-footer img{
    width: 100%;
    height: 100%;
}

#logo_foot{
    width: 100%;
    height: 100%;
}
/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
    font-size:20px;
    color:black;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:-100px;
    z-index:2;
    transition: all 1s;
}
/* ESTILOS CARD */
.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.container-card{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.container-card .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container-card .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-card .card img{
    width: 330px;
    height: 220px;
}
.container-card .card h4{
    font-weight: 600;
}

.container-card .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-card .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
