body{
    background:url('');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
/* .container .navbar{
    background:#fff;
    height: 120px;
    box-shadow:0px 2px 5px rgb(214, 22, 22);
} */
#carouselExampleIndicators{
    box-shadow:0px 2px 5px rgb(50, 214, 9);

}

/* ESTILO PAGINA PLANTAS  */
.body_plantas {
    background:url('img/img_nosotros.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}